{% extends "phphost/base.html" %}
{% block content %}
<div class="row-fluid">
            <div class="span12">
    {% if alert == "success" %}
    <div class="alert alert-success">
  <button type="button" class="close" data-dismiss="alert">×</button>
  Změna byla úspěšně provedena.
</div>
{%endif%}
              <h2>Přidat hosting</h2>
              <form action="" method="post">
              {% csrf_token %}  
              {{form.as_p}}
              <input type="submit" value="přidat">
              </form>
            </div><!--/span-->
            </div><!--/span-->
{% endblock content %}