{% extends "phphost/base.html" %}
{% block content %}
<div class="row-fluid">
            <div class="span12">
    {% if alert == "success" %}
    <div class="alert alert-success">
  <button type="button" class="close" data-dismiss="alert">×</button>
  Změna byla úspěšně provedena.
</div>
{%endif%}
              <h2>Doména {{hosting.domain}}</h2>
            </div><!--/span-->
          </div><!--/row-->
          <div class="row-fluid">
            <div class="span4">
              <h3>Info</h3>
              <table class="table">
                <tr>
                    <th>expirace</th>
                    <td>{{hosting.get_expire_date}}</td>
                </tr>
                <tr>
                    <th>hosting</th>
                    <td>{{hosting.get_hosting_type_display}}</td>
                </tr>
                <tr>
                    <th></th>
                    <td><a href="http://{{hosting.domain}}" target="blank">{{hosting.domain}}</a></td>
                </tr>
                <tr>
                    <th></th>
                    <td><a href="http://mysql.h4y.cz" target="blank">phpMyAdmin</a></td>
                </tr>
              </table>
            </div><!--/span-->
            <div class="span4">
              <h3>FTP</h3>
              <table class="table">
                <tr>
                    <th>jméno</th>
                    <td>{{hosting.get_ftp_user}}</td>
                </tr>
                <tr>
                    <th>server</th>
                    <td>{{hosting.get_ftp_server}}</td>
                </tr>
                <tr>
                    <th>heslo</th>
                    <td><form action="{%url phphost.dashboard.hosting.set_ftp_passwd hosting.domain %}" method="post">{% csrf_token %}<input type="text" name="passwd" style="width:120px;margin:0;"> <input type="submit" value="nastavit"></form></td>
                </tr>
              </table>
            </div><!--/span-->
            <div class="span4">
              <h3>MySQL</h3>
              <table class="table">
                <tr>
                    <th>jméno</th>
                    <td>{{hosting.get_mysql_user}}</td>
                </tr>
                <tr>
                    <th>server</th>
                    <td>{{hosting.get_mysql_server}}</td>
                </tr>
                <tr>
                    <th>heslo</th>
                    <td><form action="{%url phphost.dashboard.hosting.set_mysql_passwd hosting.domain %}" method="post">{% csrf_token %}<input type="text" name="passwd" style="width:120px;margin:0;"> <input type="submit" value="nastavit"></form></td>
                </tr>
              </table>
            </div><!--/span-->
          </div><!--/row-->
{% endblock content %}