{% extends "base.html" %}
{% load i18n %}

{% block content %}
<h2>Přihlásit se</h2>
<form method="post" action=".">
  {% csrf_token %} 
  {{ form.as_p }}

  <input type="submit" value="{% trans 'Log in' %}" />
  <input type="hidden" name="next" value="{{ next }}" />
</form>

<a href="/">Hlavní strana</a>
<hr>
        <p>2012 &copy; PHPhost.cz <br>Vytvořil &amp; provozuje <a href="http://ondrejsika.com">Ondřej Šika</a></p>
{% endblock %}
