{% extends "base.html" %}
{%block body%}
    <!-- START PAGE -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">PHPhost.cz</a>
          <div class="nav-collapse collapse">
            <p class="navbar-text pull-right">
              <strong>{{request.user.userprofile.get_full_name}} ({{request.user.userprofile.username}})</strong>
            </p>
            <ul class="nav">
              <li><a href="{% url phphost.dashboard.home %}">Home</a></li>
              <li><a href="{% url phphost.dashboard.hosting.add %}" >Přidat hosting</a></li>
              <li><a href="/accounts/logout/" class="navbar-link">odhlásit se</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid" id="container">
      {% block base_content %}
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Domény</li>
              {% for obj in request.user.userprofile.hosting_set.all %}
              <li><!--  class="active" --><a href="{% url phphost.dashboard.hosting obj.domain %}">{{obj.domain}}</a></li>
              {%endfor%}
            </ul>
          </div><!--/.well -->
<iframe scrolling="no" style="border: 0; width: 200px; height: 200px;" src="http://coinurl.com/get.php?id=18404"></iframe>
<iframe scrolling="no" style="border: 0; width: 200px; height: 200px;" src="http://coinurl.com/get.php?id=18404"></iframe>
        </div><!--/span-->
        <div class="span9">
          {% block content %}
        
          {% endblock content %}
<iframe scrolling="no" style="border: 0; width: 728px; height: 90px;" src="http://coinurl.com/get.php?id=18403"></iframe>
<iframe scrolling="no" style="border: 0; width: 728px; height: 90px;" src="http://coinurl.com/get.php?id=18403"></iframe>
        </div><!--/span-->
      </div><!--/row-->
      {% endblock base_content %}
      <hr>

      <footer>
        <p>2012 &copy; PHPhost.cz | Vytvořil &amp; provozuje <a href="http://ondrejsika.com">Ondřej Šika</a></p>
      </footer>

    </div><!--/.fluid-container-->

    {%endblock body%}
