<a href="/dashboard">Administrace</a>

<hr>

<code><pre>
# PHPhost.cz 2.0

Mate zajem o pristup do bety? Vyplnte <a target="blank" href="https://docs.google.com/forms/d/1VfrixZzPCgAAh_ZGy67v-ymX0QyT-JCl_xD8fC4vOsQ/viewform?usp=send_form">formular</a>

Pokud se chcete zapojit do vyvoje nebo jinak spolupracovat? Vyplnte <a target="blank" href="https://docs.google.com/forms/d/1pL6Tf_tenf3RSWM8iZmoh5Mmv0MSABy9jO6524z26zo/viewform?usp=send_form">formular</a>

Muzete take prispet na vyvoj hostingu na ucet <b>2500171198/2010</b> (Ondrej Sika, Fio Banka) a nebo na adresu <b>1JN3LoHYkdThYFpLpcyVTw3GQDkMGGhMuD</b>


## Web hosting clasic (100 Kc / mesic)

* neomezene domen, subdomen
* neomezeny pocet databazi
* ftp, sftp, git
* https (vlastni certifikat, sdileny certifikat (nase domena), self-sign certifikat)
* php, apache
* mysql, postgresql
* 50 GB data
* 5 GB databaze
* cron (5 min)
* smtp server (odesilani emailu)
* predinstalace wordpresu, prestashopu, magenta, ...


## Web hosting extra (150 Kc / mesic)

Stejne jako webhosting clasic

* 100 GB data
* 15 GB databaze
* DNS server
* cron (1 min)
* monitoring


## Email hosting clasic (100 Kc / mesic)

* neomezene domen
* neomezene uctu
* 5 GB (nebo 15 GB za 200 Kc)
* sleva 30% pri koupi webhostingu
* smpt, pop, imap
* web client roundcube.net, mailpie.is, rainloop.net


## Ostatni

* bitcoin platby (sleva 10%)
* email podpora 24/7
* high security - two factor auth (OTP, PGP)


## Kontakt

* <a href="mailto:info@phphost.cz">info@phphost.cz</a>


</pre></code>

